@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&family=Roboto:wght@100..900&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Poppins', sans-serif;
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-shadow{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}