@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Poppins', sans-serif;
}

.profile-font {
   font-family: "Orbitron", sans-serif;
}

.montserrat{
 font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-shadow{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.custom-loader {
  width: 100px;
  height: 100px;
  display: grid;
  border-radius: 50%;
  -webkit-mask:radial-gradient(farthest-side,#0000 40%,#000 41%);
  background:
    linear-gradient(0deg ,#766DF480 50%,#766DF4FF 0) center/8px 100%,
    linear-gradient(90deg,#766DF440 50%,#766DF4BF 0) center/100% 8px;
  background-repeat: no-repeat;
  animation: s3 1s infinite steps(12);
}
.custom-loader::before,
.custom-loader::after {
   content:"";
   grid-area: 1/1;
   border-radius: 50%;
   background:inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.custom-loader::after {
   opacity: 0.83;
   transform: rotate(60deg);
}

@keyframes s3 {
  100% {transform: rotate(1turn)}
}

@keyframes fade-in {
  0% { opacity: 0; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes slide-in {
  0% { opacity: 0; transform: translateX(-10px); }
  100% { opacity: 1; transform: translateX(0); }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

.animate-slide-in {
  animation: slide-in 0.5s ease-in-out;
}
